<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet page</title>
    <div th:replace="fragments/head :: bootstrap"></div>
</head>

<body>
<header>
    <nav th:replace="fragments/navigation :: navbar">...</nav>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col order-last">
                <a th:text="${userName}"></a>
                <a>Hello</a>
                <div class="col order-first">
                    <h1>Fill in pet info</h1>
                    <form th:object="${newPet}" th:action="@{/pet/save}" method="post">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input th:field="${newPet.name}" type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Age</label>
                            <div class="col-sm-10">
                                <input th:field="${newPet.age}" type="number" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <input th:field="${newPet.type}" type="text" class="form-control" id="Type">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <a th:href="@{/pet/all}">Show All Pets</a>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>